<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./about.html" title="">02 : About me</a></li>
          <li><a href="./publication.html" title="">03 : Publication</a></li>
          <li><a href="./works.html" title="">04 : Project</a></li>
          <li><a href="./contact.html" title="">05 : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  
<!-- Add your site or app content here -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="text-center">
          <h1 class="h2">03 : Publications and Rewards</h1>
           <blockquote>
            <p>"Unthinking respect for authority is the greatest enemy of truth." --Albert Einstein </p>
          </blockquote>
          <h2 class="h2">Publications</h2>
          <p>
            <div class="text-left">
              <span>&#x25cf;</span>
            Zihao Yuan, Geoffrey Vaartstra, Prachi Shukla, Zhengmao Lu, Sherief Reda, Evelyn Wang, and Ayse K. Coskun, “A Learning-Based Thermal Simulation Framework for Emerging Two-Phase Cooling Technologies”, in Proc. of Design, Automation and Test in Europe (DATE), 2020.

            </div>

            </p>

           <p>
            <div class="text-left">
              <span>&#x25cf;</span>
           Zihao Yuan, Geoffrey Vaartstra, Prachi Shukla, Mostafa Said, Sherief Reda, Evelyn Wang, and Ayse K. Coskun, “Two-Phase Vapor Chambers with Micropillar Evaporators: A New Approach to Remove Heat from Future High-Performance Chips”, in Proc. of 19th IEEE Intersociety Conference on Thermal and Thermomechnanical Phenomena in Electronic Systems (ITHERM), 2019.

            </div>

            </p>

           <p>
            <div class="text-left">
              <span>&#x25cf;</span>
            Zihao Yuan, Geoffrey Vaartstra, Prachi Shukla, Sherief Reda, Evelyn Wang, and Ayse K. Coskun, “Modeling and Optimization of Chip Cooling with Two-Phase Vapor Chambers”, in Proc. of ACM/IEEE International Symposium on Low Power Electronics and Design (ISLPED), 2019.

            </div>

            </p>

           <p>
            <div class="text-left">
              <span>&#x25cf;</span>
            Zihao Yuan, Geoffrey Vaartstra, Prachi Shukla, Sherief Reda, Evelyn Wang, and Ayse K. Coskun, “An EDA tool for co-designing high-performance processors and emerging cooling technologies”, in Proc. of Workshop on Open-source EDA Technology (WOSET) , 2019.
            </div>

            </p>

          <p>
            <div class="text-left">
              <span>&#x25cf;</span>
            Zihao Yuan, Ji Li, Zhe Li, Caiwen Ding, Ao Ren, Bo Yuan, Qinru Qiu, Jeffrey Draper and Yanzhi Wang, Softmax Regression Design for Stochastic Computing Based Deep Convolutional Neural Networks, to appear in Proc. of ACM Great Lakes Symposium on VLSI (GLSVLSI), 2017
            </div>

            </p>

          <p>

            <div class="text-left">
              <span>&#x25cf;</span>
          Zihao Yuan, Kevin Laubhan, Kumar Yelamarthi, “An Efficient and Dynamic Algorithm for Accurate Mobile Robot Navigation”, in Proc. of IEEE International Conference on Electro/Information Technology, 2014 (Outstanding Paper Award).
            </div>

            </p>


            <p>
            <div class="text-left">
              <span>&#x25cf;</span>Ji Li, Zihao Yuan, Zhe Li, Ao Ren, Caiwen Ding, Jeffrey Draper, Shahin Nazarian, Qinru Qiu, Bo Yuan, and Yanzhi Wang, “Normalization and Dropout for Stochastic Computing-Based Deep Convolutional Neural Networks”, in Elsevier’s Integration, the VLSI Journal, 2018.
            </div>

            </p>

           <p>
            <div class="text-left">
              <span>&#x25cf;</span>Ji Li, Zihao Yuan, Zhe Li, Caiwen Ding, Ao Ren, Qinru Qiu, Jeffrey Draper and Yanzhi Wang, “Hardware-Driven Nonlinear Activation for Stochastic Computing Based Deep Convolutional Neural Networks”, in Proc. of International Joint Conference on Neural Networks (IJCNN), 2017.
            </div>

            </p>

          <p>
            <div class="text-left">
              <span>&#x25cf;</span>Zihao Yuan, “A Dynamically Adapting Indoor Navigation Algorithm for Mobile Robots”, in Proc. of American Society for Engineering Education North Central Section Conference, 2014.
            </div>

            </p>

          <p>
            <div class="text-left">
              <span>&#x25cf;</span>Andrew Gigowski, Nicholas Martin, Timothy Root, Aaron Yoon, Zihao Yuan, Zhiyu Zhou, Kumar Yelamarthi, “Semi-Autonomous Gesture Controlled UAV Transportation System”, in Proc. of American Society for Engineering Education North Central Section Conference, 2015. (All authors contributed equally to this paper.)
            </div>

            </p>


     <h2 class="h2">Rewards</h2>
          <div class ="text-left">
            <p>
              <span>&#x25cf;</span>  Outstanding Paper award, 2014 IEEE Region 4 Student Paper Contest, Milwaukee, WI 06/14
              </p>
            <p><span>&#x25cf;</span>   Academic Honor: Honor List (consecutive semester) 09/12-12/13</p>
            <p><span>&#x25cf;</span>   Third Prize, NCUT 9TH PLC Innovation Design Competition 06/12</p>
            <p><span>&#x25cf;</span>   Second Prize, China 6th “ Challenge” Cup Science and Academic Competition 06/11</p>
            <p><span>&#x25cf;</span>   Outstanding Poster Award, 19th IEEE Intersociety Conference on Thermal and Thermomechnanical Phenomena in Electronic Systems (ITHERM) 06/19</p>
            <p><span>&#x25cf;</span>   A. Richard Newton Young Fellowship to attend the 56th Design Automation Conference 05/19</p>

          </div>

        </div>
      </div>

      </div>


</div>

<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./main.70a66962.js"></script></body>

</html>